<h1 class="partial-header">Welcome to Gamenight!</h1>
<div class="welcome">
<h3 class="">Browse through our extensive collection of board and card games. Discover new and exciting games. Add a game to your owned games list or your wishlist. Endlessly debate the relative merits of games with fellow enthusiasts.</h3>

<h3>Gamenight also offers you the ability to find friends with similar interests and connect with them.</h3>

<h3>Hosting a party? Gamenight will soon offer an advanced search feature so that you can choose the perfect game based on the number of guests you have, what kind of game you want to play (turn-based, strategy, children’s, etc.), and how long you want to spend playing the time.</h3>

<h3>Browse our catalog to your heart’s content or <%= link_to "sign in now", new_user_session_path %> to experience the full-featured version of the site!</h3>
