.nav-custom {
  background-color: black;
}

.body-container {
  /*background-image: url("/images/dice_background.jpeg");*/
}

.site-title {
	/*margin-right: 8em;*/
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	color: #C6B610;
	padding-bottom: 1em;
}

.site-subtitle {
	margin-right: 3em;
  font-family: Lucida;
  text-align: right;
  margin-bottom: .5em;
  font-style: italic;
}
.user-login{
	text-align: right;
	color: #1BA20D;

}


#menu
	.menu-item-custom {
		background-color: white;
	}

	.menu-custom {
		background-color: #7B3ACD;
	}

	.custom-image {
		width: 100%;
		height: auto;
		background-color: white;
	}

#main

  .partial-header {
    color: #C20F18;
  }

  a {
  	color: #053700;
  }

  .content-subhead-custom{
  	color: #C20F18;
  }

.game-wrapper {
  width: 70%;
  display: inline-block;
  position: relative;
  margin: 1.5em 15%;
}

.game-wrapper:after {
  padding-top: 140.0560224%;
  display: block;
  content: '';
}

.game {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("/images/mobile-background.jpeg");
  background-size: contain;
  border-radius: 5%;

}

.game-img {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  min-height: 45%;
  max-height: 45%;
  border: 5px solid black;
  opacity: .7;
}

.game-text {
  position: absolute;
  top: 52%;
  left: 10%;
  margin-right: 10%;
}

.game-text p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: #420003;
  opacity: .7;
}

.game-text h3 {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;

}

.votes-label {
  position: absolute;
  top:78%;
  left: 80%;
  font-family: Georgia, serif;
  font-size: 1em;
  font-style: italic;
  color: #320D61;

}
.game-votes {
  position: absolute;
  top: 85%;
  left: 80%;
  font-family: Georgia, serif;
  font-size: 3em;
  color: #320D61;
}

/* Desktop Rules */

@media screen and (min-width: 56em) {
  .game-wrapper {
  width: 35%;
  margin: 0.5em 1%;
}

@media screen and (min-width: 76em) {
  .game-wrapper {
    width: 25%;
     margin: 0.5em 1%;
  }
}
@media screen and (min-width: 88em) {
  .game-wrapper {
    width: 22%;
     margin: 0.5em 1%;
  }
}
