#logo {
  /*opacity: .7;*/
  background-color: white;
  margin: 1em 2em 1em 2em;

  padding: .5em;
  border-radius: 35%;
}

.title-bar {
  position: relative;
  overflow: hidden;
}

.site-title {
	/*margin-right: 8em;*/
  position: relative;
  font-size: 4em;
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	color: black;
	/*padding-bottom: 1em;*/
  z-index: 2;
  /*background-color: gray;
  background-size: 3em;*/
}

.title-bar img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.1;
}

.site-subtitle {
  font-size: 1em;
	margin-right: 3em;
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
  margin-bottom: .5em;
  font-style: italic;
  color: #433000;
  opacity: .5;
}
.user-login{
 
	text-align: center;
	color: #1BA20D;
}


#menu
	.menu-item-custom {
		background-color: black;
	}

	.menu-custom {
		background-color: #7B3ACD;
	}

	.custom-image {
		width: 100%;
		height: auto;
		background-color: white;
	}

  .menu-heading-custom {
    background-color: white;
  }

  .pure-menu-list a {
    font-family: "Loved by the King", cursive;
  }

#main
  .partial-header {
    color: #C20F18;
    font-family: "Cedarville Cursive", cursive;
    padding-left: 1em;
    /*text-align: right:;*/
  }

  a {
  	color: #053700;
    font-size: 1.5em;
  }

  .content-subhead-custom{
  	color: #C20F18;
  }

.game-wrapper {
  width: 70%;
  display: inline-block;
  position: relative;
  margin: 1.5em 15%;
}

.game-wrapper:after {
  padding-top: 140.0560224%;
  display: block;
  content: '';
}

.game {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("/images/mobile-background.jpeg");
  background-size: contain;
  background-repeat: none;
  border-radius: 5%;
  box-shadow: 10px 10px 5px gray;

}

.game-img {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  min-height: 45%;
  max-height: 45%;
  border: 5px solid black;
  opacity: .7;
}

.game-text {
  position: absolute;
  top: 52%;
  left: 10%;
  margin-right: 10%;
}

.game-text p {
  font-family: "Henny Penny", cursive;
  font-size: 1em;
  color: #420003;
  opacity: .7;
}

.game-text h3 {
  font-size: 1em;
  font-family: "Fredericka the Great", cursive;

}

.game-text h3 a {
  text-decoration: none;

}

.votes-label {
  position: absolute;
  top:80%;
  left: 80%;
  font-family: "Fredericka the Great", cursive;
  font-size: 1em;
  font-style: italic;
  color: #433D00 ;

}
.game-votes {
  position: absolute;
  top: 85%;
  left: 80%;
  font-family: "Cedarville Cursive", cursive;
  font-size: 2em;
  color: #320D61;
}

.custom-restricted {
  height: 15em;
  min-width:5em;
  width: 30em;
  border: 1px solid gray;
  border-radius: 4px;
}

/* Desktop Rules */

@media screen and (min-width: 56em) {
  .game-wrapper {
  width: 35%;
  margin: 0.5em 1%;
}

@media screen and (min-width: 76em) {
  .game-wrapper {
    width: 25%;
     margin: 0.5em 1%;
  }
}
@media screen and (min-width: 88em) {
  .game-wrapper {
    width: 22%;
     margin: 0.5em 1%;
  }
}
